<div class="messages messages--warning messages-list__item" role="status" aria-labelledby="warning-unpublished-title" data-drupal-message-type="warning">
  <div class="messages__header">
    <h2 id="warning-unpublished-title" class="messages__title">
      {{ title }}
    </h2>
  </div>
  <div class="messages__content">
    {{ message }}
  </div>
</div>
