<div class="messages messages--warning messages-list__item" role="status" aria-labelledby="warning-unpublished-title" data-drupal-message-type="warning">
  <div class="messages__header">
    <h2 id="warning-unpublished-title" class="messages__title">
      This content is unpublished
    </h2>
  </div>
  <div class="messages__content">
    These settings only take effect once this page is published.
  </div>
</div>
